{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<div id="smooth-wrapper">
    <div id="smooth-content">

        <!-- ===== Hero Area Start ===== -->
        <section class="hero-sec hero-sec-2">
            <div class="container">
               
                {% include 'web/partials/navbar2.html' %}

                <!-- Hero Bottom -->
                <div class="hero-sec-bottom">
                    <div class="hero-sec-bottom-left">
                        <h1 class="hero-title with-circle-shape">
                            <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">let’s work </span></span>
                            <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">Together</span></span>
                            <span class="circle-primary-shape scroll-animation" data-animation="boldz_zoom_in" data-animation-delay="0.5" style="translate: none; rotate: none; scale: none; opacity: 1; transform: translate(0px, 0px);"></span>
                        </h1>
                    </div>
                  
                </div>
            </div>
        </section>
        <!-- ===== Hero Area End ===== -->
        

        <div class="contact-sec">
            <div class="container">
                <div class="contact-form">

                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="form-col-2">
                            <div class="input-group">
                                <label for="name" class="title-with-circle">
                                    <span class="circle-shape"></span> ENTER NAME
                                </label>
                                <input type="text" id="name" name="name">
                            </div>
                            <div class="input-group">
                                <label for="email" class="title-with-circle">
                                    <span class="circle-shape"></span> ENTER EMAIL 
                                </label>
                                <input type="email" id="email" name="email" >
                            </div>
                        </div>
                        <div class="input-group">
                            <label for="subject" class="title-with-circle">
                                <span class="circle-shape"></span> ENTER SUBJECT
                            </label>
                            <input type="text" id="subject" name="subject">
                        </div>
                        <div class="input-group">
                            <label for="message" class="title-with-circle">
                                <span class="circle-shape"></span>ENTER MESSEGE
                            </label>
                            <textarea name="message" id="message"></textarea>
                        </div>
                        <div class="input-group">
                            <button type="submit">SUBMIT NOW</button>
                        </div>
                  
                    </form>
                    
                </div>
            </div>
        </div>


        
        {% include 'web/partials/footer.html' %}

    </div>
</div>

{% endblock %}