{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<div id="smooth-wrapper">
    <div id="smooth-content">

        <!-- ===== Hero Area Start ===== -->
        <section class="hero-sec hero-sec-2">
            <div class="container">
               
                {% include 'web/partials/navbar2.html' %}

                <!-- Hero Bottom -->
                <div class="hero-sec-bottom">
                    <div class="hero-sec-bottom-left">
                        <h1 class="hero-title with-circle-shape">
                            <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down">CSR</span></span>
                            
                            <span class="circle-primary-shape scroll-animation" data-animation="boldz_zoom_in" data-animation-delay="0.5"></span>
                        </h1>
                    </div>
                  
                </div>
            </div>
        </section>
        <!-- ===== Hero Area End ===== -->
        
        <section class="service-sec-2">
            <div class="container">
                <!-- Service Faqs -->
                <div class="service-list-wrap">

                    {% for csr in csr%}
                    <div class="service-faq-item service-no-accordion-faq-item scroll-animation"
                        data-animation="slide_down2">
                        <h2 class="accordion-header">
                            <img src="{% static 'web/imgs/service-faq-icon-1.svg' %}" alt="Icon"> {{csr.title}}<span
                                class="number">( 0{{forloop.counter}} )</span>
                        </h2>
                        <div class="accordion-body">
                            <div class="accordion-content">
                                <p>{{csr.description|safe|truncatechars:150 }}</p>
                              
                             

                                <div class="accordion-content-bottom">
                                    <a href="{% url 'web:csr-detail' csr.id  %}" class="theme-btn">Get Started</a>

                                  
                                </div>
                            </div>

                            <div class="accordion-content-right">
                                <div class="accordion-content-img">
                                    <img src="{{ csr.image.url }}" alt="Accordion">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        
        {% include 'web/partials/footer.html' %}

    </div>
</div>

{% endblock %}