{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<div id="smooth-wrapper">
    <div id="smooth-content">

        <!-- ===== Hero Area Start ===== -->
        <section class="hero-sec work-hero-sec">
            <div class="container">

                {% include 'web/partials/navbar2.html' %}

                <!-- Hero Bottom -->
                <div class="hero-sec-bottom">
                    <div class="hero-sec-bottom-left">
                        <h1 class="hero-title with-circle-shape">
                            <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down">awesome</span></span>
                            <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down" data-animation-delay="0.3">Gallery</span></span>
                            <span class="circle-primary-shape scroll-animation" data-animation="boldz_zoom_in" data-animation-delay="0.5"></span>
                        </h1>
                    </div>
                   
                </div>
            </div>
        </section>
        <!-- ===== Hero Area End ===== -->
        
        <!-- ===== Service Area Start ===== -->
        <div class="service-sec">
            <div class="container">
                <!-- Works -->
                <div class="work-lists">
                    {% for gallery in gallery %}
                    <div class="work-box scroll-animation" data-animation="fade_from_bottom2">
                        <div class="hover_mouse">
                            <a href="{% url 'web:gallery-detail' gallery.id %}">
                                View
                            </a>
                        </div>
                        <a href="{% url 'web:gallery-detail' gallery.id  %}" class="overlay"></a>
                        <div class="work-img">
                            <img src="{{ gallery.gallery_image.url }}" alt="Work">
                        </div>
                        <div class="work-bottom-content">
                            <span class="work-price">
                                {{ gallery.gallery_date}} <br>
                               
                            </span>
                            <span class="work-cat">{{ gallery.gallery_title }}</span>
                            <span class="work-number">[01]</span>
                        </div>
                    </div>

                    {% endfor %}
                   
                </div>
            </div>
        </div>
        <!-- ===== Service Area End ===== -->


        
        {% include 'web/partials/footer.html' %}

    </div>
</div>

{% endblock %}