{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<div id="smooth-wrapper">
    <div id="smooth-content">

        <!-- ===== Hero Area Start ===== -->
        <section class="hero-sec gallery-hero hero-sec-2">
            <div class="container">
                {% include 'web/partials/navbar2.html' %}

                <!-- Hero Bottom -->
                <div class="hero-sec-bottom">
                    <div class="hero-sec-bottom-left">
                        <h1 class="hero-title with-circle-shape">
                            <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down">{{ gallery.gallery_title}}</span></span>
                            <!-- <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down">LEAGUE</span></span> -->
                            <span class="circle-primary-shape scroll-animation" data-animation="boldz_zoom_in" data-animation-delay="0.5"></span>
                        </h1>
                    </div>
                   
                </div>
            </div>
        </section>
        <!-- ===== Hero Area End ===== -->

        <!-- ===== Banner Area Start ===== -->
        <div class="hero-banner-sec gallery-hero-banner-sec">
            <div class="container">
                <div class="hero-banner-img-inner">
                    <div class="hero-banner-img full-image-box">
                        <img data-jarallax-element="-20 0" src="{{ gallery.gallery_image.url}}" alt="Banner">
                    </div>
                </div>
                <div class="hero-banner-content">
                    <p>{{ gallery.gallery_description|safe}}</p>

                </div>
            </div>
        </div>
        <!-- ===== Banner Area End ===== -->
        
        <!-- ===== Next Project Area Start ===== -->
        <section class="next-project-sec">
            <div class="container">
                <div class="custom-row">
                    <div class="section-header">
                        <div class="left">
                            <h2 class="title">
                                <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down">Next Project</span></span>
                            </h2>
                            <p>[ MARTIN LUKO ]</p>
                        </div>
                    </div>
                    
                    <div class="work-box">
                        <div class="hover_mouse">
                            <a href="work-single-3.html">
                                View
                            </a>
                        </div>
                        <a href="work-single-3.html" class="overlay"></a>
                        <div class="work-img">
                            <img src="{% static 'web/imgs/work-3.png' %}" alt="Work">
                        </div>
                        <div class="work-bottom-content">
                            <span class="work-price">
                                (cost® — $7000) <br>
                                MARTIN LUKO
                            </span>
                            <span class="work-cat">(portfolio)</span>
                            <span class="work-number">[03]</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ===== Next Project Area End ===== -->

        {% include 'web/partials/footer.html' %}>
        
    </div>
</div>

{% endblock %}