{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<div id="smooth-wrapper">
    <div id="smooth-content">

        <!-- ===== Hero Area Start ===== -->
        <section class="hero-sec hero-sec-2">
            <div class="container">
                {% include 'web/partials/navbar2.html' %}

                <!-- Hero Bottom -->
                <div class="hero-sec-bottom">
                    <div class="hero-sec-bottom-left">
                        <h1 class="hero-title with-circle-shape">
                            <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down">{{ service.service_title}}</span></span>
                            <!-- <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down">LEAGUE</span></span> -->
                            <span class="circle-primary-shape scroll-animation" data-animation="boldz_zoom_in" data-animation-delay="0.5"></span>
                        </h1>
                    </div>
                    <div class="hero-sec-bottom-right">
                        <div class="hero-sec-bottom-right-content-top">
                            <p>{{ service.service_description|safe}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ===== Hero Area End ===== -->

        <!-- ===== Banner Area Start ===== -->
        <div class="banner-sec">
            <div class="container">
                <div class="banner-img-inner">
                    <div class="banner-img full-image-box">
                        <img data-jarallax-element="-20 0" src="{{ service.service_main_image.url }}" alt="Banner">
                    </div>
                </div>
            </div>
        </div>
        <!-- ===== Banner Area End ===== -->
        
        <!-- ===== Service Details Area Start ===== -->
        <div class="work-service-detail-sec">
            <div class="container">
                <div class="custom-row">
                    <div class="work-service-detail-box">
                        <h5>Client</h5>
                        <span>[ john nelson ]</span>
                    </div>
                    <div class="work-service-detail-box">
                        <h5>role</h5>
                        <span>[ ux/ui design ]</span>
                    </div>
                    <div class="work-service-detail-box">
                        <h5>Time Line</h5>
                        <span>[ may 2020 - July 2020 ]</span>
                    </div>
                    <div class="work-service-detail-box">
                        <h5>Live Project</h5>
                        <span><a href="#">[ visit website ]</a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- ===== Service Details Area End ===== -->

        <!-- ===== Banner Area Start ===== -->
        <div class="banner-sec">
            <div class="container">
                <div class="banner-img-inner">
                    <div class="banner-img full-image-box">
                        <img data-jarallax-element="-20 0" src="{% static 'web/imgs/work-2-single-2.png' %}" alt="Banner">
                    </div>
                </div>
            </div>
        </div>
        <!-- ===== Banner Area End ===== -->
        
        <!-- ===== Task Area Start ===== -->
        <section class="task-sec">
            <div class="container">
                <div class="task-lists">
                    <div class="task-box">
                        <h5><span class="circle-shape"></span> The Ask</h5>
                        <div class="task-content">
                            <p>Ruggable is a household name in the world of interior furnishings.
                                The idea behind Wallnut was to utilize their knowledge of home 
                                goods market and expertise as a leading online retailer to offer 
                                quality artworks to a similarly stylish and sophisticated audience 
                                at accessible prices.</p>
                        </div>
                    </div>
                    <div class="task-box">
                        <h5><span class="circle-shape"></span> The Design</h5>
                        <div class="task-content">
                            <p>Walnut's design strategy incorporates the parent company's
                                established home goods aesthetic and market expertise to
                                create artwork that enhances modern interiors while ensuring it
                                remains stylish and budget-friendly.</p>
                            <p><strong>Light up an industry by lighting up the room.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ===== Task Area End ===== -->

        <!-- ===== Banner Area Start ===== -->
        <div class="banner-sec">
            <div class="container">
                <div class="banner-img-inner">
                    <div class="banner-img full-image-box">
                        <img data-jarallax-element="-20 0" src="{% static 'web/imgs/work-2-single-3.png' %}" alt="Banner">
                    </div>
                </div>
            </div>
        </div>
        <!-- ===== Banner Area End ===== -->
        



        {% include 'web/partials/footer.html' %}>
        
    </div>
</div>

{% endblock %}