{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}


<div id="smooth-wrapper">
    <div id="smooth-content">

        <!-- ===== Hero Area Start ===== -->
        <section class="hero-sec hero-sec-2">
            <div class="container">
                {% include 'web/partials/navbar2.html' %}

                <!-- Hero Bottom -->
                <div class="hero-sec-bottom">
                    <div class="hero-sec-bottom-left">
                        <h1 class="hero-title with-circle-shape">
                            <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down">{{ service.service_title}}</span></span>
                            <!-- <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down">LEAGUE</span></span> -->
                            <span class="circle-primary-shape scroll-animation" data-animation="boldz_zoom_in" data-animation-delay="0.5"></span>
                        </h1>
                    </div>
                    <div class="hero-sec-bottom-right">
                        <div class="hero-sec-bottom-right-content-top">
                            <p>{{ service.service_description|safe}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ===== Hero Area End ===== -->

        <!-- ===== Banner Area Start ===== -->
        <div class="banner-sec">
            <div class="container">
                <div class="banner-img-inner">
                    <div class="banner-img full-image-box">
                        <img data-jarallax-element="-20 0" src="{{ service.service_main_image.url }}" alt="Banner">
                    </div>
                </div>
            </div>
        </div>
        <!-- ===== Banner Area End ===== -->
        
        
        {% include 'web/partials/footer.html' %}>
        
    </div>
</div>

{% endblock %}