asgiref==3.8.1
Django==5.1.4
django-tinymce==4.1.0
django-unfold==0.43.0
django-versatileimagefield==3.1
pillow==11.0.0
psycopg2-binary==2.9.10
python-decouple==3.8
python-magic==0.4.27
python-magic-bin==0.4.14
sqlparse==0.5.3
tzdata==2024.2
