{% load static %}

 <!-- ===== CTA Area Start ===== -->
 <div class="cta-sec-2">
    <div class="container">
        <div class="custom-row">
            <div class="cta-widget cta-link-widget">
                <h3>Follow Me</h3>
                <ul class="social-links-text">
                    <li><a href="https://www.facebook.com/NaaradPR/" target="_blank" class="splite-text-anim">
                        <span>Facebook <img src="{% static 'web/imgs/arrow.svg' %}" alt="Icon"></span>
                        <span>Facebook <img src="{% static 'web/imgs/arrow.svg' %}" alt="Icon"></span>
                    </a></li>

                    <li><a href="https://www.instagram.com/naaradpr/" target="_blank" class="splite-text-anim">
                        <span>Instagram <img src="{% static 'web/imgs/arrow.svg' %}" alt="Icon"></span>
                        <span>Instagram <img src="{% static 'web/imgs/arrow.svg' %}" alt="Icon"></span>
                    </a></li>
                    <!-- <li><a href="https://twitter.com/" target="_blank" class="splite-text-anim">
                        <span>Twitter <img src="{% static 'web/imgs/arrow.svg' %}" alt="Icon"></span>
                        <span>Twitter <img src="{% static 'web/imgs/arrow.svg' %}" alt="Icon"></span>
                    </a></li> -->
                    
                </ul>
            </div>

            <div class="cta-widget cta-location-widget">
                <h3>address</h3>
                <ul>
                    <li>Bungalow 35/35,</li>
                    <li>Srinivasa Nilayam, Mhada,</li>
                    <li>Four Bungalows, Andheri,</li>
                    <li> Mumbai, MH 400053, IN</li>
                </ul>
            </div>

            <div class="cta-widget cta-phone-widget">
                <h3>Phone</h3>
                <ul>
                    <li><span>IND</span> <a href="tel:+919820535230" class="splite-text-anim">
                        <span>+91 98205 35230</span>
                        <span>+91 98205 35230</span>
                    </a></li>
                    
                </ul>
            </div>

            <div class="cta-widget cta-phone-widget">
                <h3>Email</h3>
                <ul>
                    <li><a href="mailto:anushabrandmaker@gmail.com" class="splite-text-anim">
                        <span>anushabrandmaker@gmail.com</span>
                        <span>anushabrandmaker@gmail.com</span>
                    </a></li>
                  
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ===== CTA Area End ===== -->

<footer class="footer-sec">
    <div class="container">
        <div class="big-text">
            <h2 class="section-title2 with-circle-shape">
                <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down" >naarad</span></span>
                <span class="circle-primary-shape scroll-animation" data-animation="boldz_zoom_in" data-animation-delay="0.5"></span>
            </h2>
        </div>

        <div class="copyright-wrap">
            <p>@2024 <a href="https://naarad.net/">naarad.net</a>All rights reserved.</p>
            <p> Privacy Policy | Terms of Use</p>
        </div>
    </div>
</footer>

