{% load static %}

<footer class="footer-sec">
    <div class="container">
        <div class="big-text">
            <h2 class="section-title2 with-circle-shape">
                <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down" >naarad</span></span>
                <span class="circle-primary-shape scroll-animation" data-animation="boldz_zoom_in" data-animation-delay="0.5"></span>
            </h2>
        </div>

        <div class="copyright-wrap">
            <p>&copy;2024 design</p>
            <p><img src="{% static 'web/imgs/white-circle-shape.svg' %}" alt="Shape"> c-09, toronto 632 7518760</p>
        </div>
    </div>
</footer>