{% load static %}

 <!-- ===== CTA Area Start ===== -->
 <div class="cta-sec-2">
    <div class="container">
        <div class="custom-row">
            <div class="cta-widget cta-link-widget">
                <h3>Follow Me</h3>
                <ul class="social-links-text">
                    <li><a href="https://instagram.com/" target="_blank" class="splite-text-anim">
                        <span>Instagram <img src="{% static 'web/imgs/arrow.svg' %}" alt="Icon"></span>
                        <span>Instagram <img src="{% static 'web/imgs/arrow.svg' %}" alt="Icon"></span>
                    </a></li>
                    <li><a href="https://twitter.com/" target="_blank" class="splite-text-anim">
                        <span>Twitter <img src="{% static 'web/imgs/arrow.svg' %}" alt="Icon"></span>
                        <span>Twitter <img src="{% static 'web/imgs/arrow.svg' %}" alt="Icon"></span>
                    </a></li>
                    <li><a href="https://facebook.com/" target="_blank" class="splite-text-anim">
                        <span>Facebook <img src="{% static 'web/imgs/arrow.svg' %}" alt="Icon"></span>
                        <span>Facebook <img src="{% static 'web/imgs/arrow.svg' %}" alt="Icon"></span>
                    </a></li>
                </ul>
            </div>

            <div class="cta-widget cta-location-widget">
                <h3>CURRENT LOCATION</h3>
                <ul>
                    <li>47TH ST, BRAMPTON</li>
                    <li>TORONTO, 80012</li>
                    <li>Canada.</li>
                </ul>
            </div>

            <div class="cta-widget cta-phone-widget">
                <h3>Phone</h3>
                <ul>
                    <li><span>CA</span> <a href="tel:+11394588734" class="splite-text-anim">
                        <span>+1 13945 88734</span>
                        <span>+1 13945 88734</span>
                    </a></li>
                    <li><span>AUS</span> <a href="tel:+11394588734" class="splite-text-anim">
                        <span>+1 13945 88044</span>
                        <span>+1 13945 88044</span>
                    </a></li>
                </ul>
            </div>

            <div class="cta-widget cta-phone-widget">
                <h3>Email</h3>
                <ul>
                    <li><a href="mailto:hello@jaurden.design" class="splite-text-anim">
                        <span>hello@jaurden.design</span>
                        <span>hello@jaurden.design</span>
                    </a></li>
                    <li><a href="mailto:sales@hauges.design" class="splite-text-anim">
                        <span>sales@hauges.design</span>
                        <span>sales@hauges.design</span>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ===== CTA Area End ===== -->

<footer class="footer-sec">
    <div class="container">
        <div class="big-text">
            <h2 class="section-title2 with-circle-shape">
                <span class="overflow-hidden"><span class="timeline-anim scroll-animation" data-animation="slide_down" >naarad</span></span>
                <span class="circle-primary-shape scroll-animation" data-animation="boldz_zoom_in" data-animation-delay="0.5"></span>
            </h2>
        </div>

        <div class="copyright-wrap">
            <p>&copy;2024 design</p>
            <p><img src="{% static 'web/imgs/white-circle-shape.svg' %}' %}" alt="Shape"> c-09, toronto 632 7518760</p>
        </div>
    </div>
</footer>