{% load static %}



<div class="hero-sec-top scroll-animation" data-animation="slide_up">
    <div class="hero-left">
        <a href="{% url 'web:index' %}" class="logo"><img src="{% static 'web/imgs/naarad-logo.png' %}"
                alt="Symble"></a>
        
    </div>
    <div class="hero-right">
        <nav class="main-menu">
            <ul>
                <li><a href="{% url 'web:services' %}" class="splite-text-anim">
                        <span>( Services )</span>
                        <span>( Services )</span>
                    </a></li>
                <li><a href="contact.html" class="splite-text-anim">
                        <span>( Start a Project )</span>
                        <span>( Start a Project )</span>
                    </a></li>
            </ul>
        </nav>

        <a href="#" class="show-navigation-popover theme-btn">MENU</a>

    </div>
</div>